chromedriver.exe
id.py
Data/CT.txt
__pycache__/id.cpython-39.pyc
__pycache__/commands.cpython-39.pyc
__pycache__/scrapping.cpython-39.pyc
Data/UME.txt
Data/LIN.txt
pruebas.py
Data/EE.txt
Data/ET.txt
Data/TD.txt
Data/PE.txt
Data/AT.txt
Data/OE.txt
Data/OE.txt
chromedriver
Data/OE.txt
